@import url('variable.css');

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: "JetBrains Mono", monospace;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    background-color: var(--body-color);
    line-height: 1.6;
}

.site-header,
.site-footer {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    padding: 20px 0;
}

.site-footer {
    text-align: center;
    z-index: 0;
}

.main-navigation {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--secondary-color);
}

.main-navigation ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 20px;
}

.main-navigation a {
    color: var(--primary-color);
    text-decoration: none;
    margin-bottom: 10px;
}

.main-navigation li {
    padding: 0 15px;
}


/* Ícone de menu hambúrguer */
.menu-toggle {
    display: none;
    /* Inicialmente oculto em telas grandes */
    font-size: 30px;
    color: var(--primary-color);
    /* Substitua por uma cor válida */
    cursor: pointer;
}


.container {
    max-width: 1200px;
    width: 100%;
    margin: auto;
    padding: 0 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

section {
    padding: 50px 0;
}

.section h2 {
    text-align: center;
    padding: 20px 0;
    margin: 5px 0;
}

.sobre-mim-section h1,
.sobre-mim-section h3 {
    text-align: center;
    padding: 20px 0;
    margin: 5px 0;
}

.sobre-mim-section p {
    margin: 10px;
    text-align: start;
}

.foto-perfil {
    float: left;
    border-radius: 50%;
    width: 250px;
    height: 250px;
    object-fit: cover;
    margin: 20px;
    animation: fadeIn 2s ease-in-out;
    box-shadow: 0 0 15px var(--shadow-color);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.grade-projetos {
    border-radius: 16px;
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.item-projeto {
    background-color: var(--primary-color);
    box-shadow: 0 0 10px var(--shadow-color);
    transition: box-shadow var(--transition-speed);
    border-radius: 16px;
}

.item-projeto:hover {
    box-shadow: 0 0 15px var(--shadow-color);
    transform: translate3d(0px, -1px, 0px);
}

.item-projeto img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 3px solid var(--third-color);
    border-radius: 16px 16px 0 0;
}

.item-projeto a {
    text-decoration: none;
    color: var(--text-color);
}

.info-projetos {
    padding: 10px;
}

.info-projetos h3,
.info-projetos p {
    color: var(--text-color);
}

.img-contatos {
    margin: 10px 0;
    width: 75px;
    height: 75px;
}

.div-contatos {
    display: flex;
    padding: 5px;
    list-style-type: none;
    justify-content: space-evenly;
}

.tecnologias-section h2 {
    margin: 5px 0;
}

.tecnologias-itens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 5px;
    list-style-type: none;
}

.tecnologias-item {
    position: relative;
}

.tooltip {
    display: none;
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    bottom: 125%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
    font-size: 1rem;
    width: 150px;
    text-align: center
}

.tecnologias-item:hover>.tooltip {
    display: block;
}

.github-api-itens {
    display: flex;
    flex-direction: column;
    padding: 5px;
    list-style-type: none;
    border: 1px solid var(--text-color);
    border-radius: 5px;
    gap: 30px;
    margin: 10px;
}

.github-api-itens div {
    display: flex;
    justify-content: space-between;
}

.github-api-itens div .projects-date {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 1rem;
}

.github-api-itens div .projects-title {
    color: var(--text-color);
}

.github-api-itens div .projects-circle {
    border-radius: 50%;
    display: inline-block;
    width: 12px;
    height: 12px;
    background-color: var(--secondary-color);
    margin-right: 5px;
    border: 1px solid var(--text-color);
}

.github-api-itens div,
a {
    text-decoration: none;
    color: var(--text-color);
}

@media screen and (max-width: 768px) {
    .main-navigation ul {
        flex-direction: column;
    }

    .main-navigation li {
        margin-bottom: 10px;
        font-size: large;
    }

    .foto-perfil {
        float: none;
        display: block;
        margin: 0 auto;
    }
}

.mostrar-menu {
    display: flex !important;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

[data-theme="dark"] {
    --body-color: #333;
    --primary-color: #333;
    --secondary-color: #b9b8b8;
    --third-color: #333;
    --text-color: whitesmoke;
    --shadow-color: whitesmoke;
}

[data-theme="light"] {
    --body-color: whitesmoke;
    --primary-color: white;
    --secondary-color: rgb(84, 153, 249);
    --third-color: #b9b8b8;
    --text-color: #000000;
    --shadow-color: #000000;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #2196F3;
}

input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

.switch-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.switch-div img {
    width: 35px;
    height: 35px;
    margin: 0 1rem;
}

.back-button {
    background-color: #ccc;
    color: var(--text-color);
    border-color: #000000;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    margin: 20px 0;
}

.api-response {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.validar-cpf h2 {
    text-align: center;
    color: #333;
}

.validar-cpf form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.validar-cpf-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.validar-cpf label {
    display: block;
    margin-bottom: 10px;
    color: #666;
}

.validar-cpf input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin-bottom: 20px;
    transition: border-color 0.3s;
}

.validar-cpf input[type="text"]:focus {
    border-color: #007bff;
    outline: none;
}

.validar-cpf button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.validar-cpf button:hover {
    background-color: #0056b3;
}

.validar-cpf p#resultado {
    text-align: center;
    font-size: 18px;
    margin-top: 20px;
}

.valido {
    color: green;
}

.invalido {
    color: red;
}